<app-header [settings]="{
    isPost: false,
    isAdmin: false,
    isSignUpLink: true
  }"></app-header>
<div class="error-messages" *ngIf="form.get('email').invalid && form.get('email').touched
||form.get('password').invalid && form.get('password').touched || isWrongFormData">
  <p *ngIf="form.get('email').touched && form.get('email').invalid && form.get('email').errors.required">Email is not be empty!</p>
  <p *ngIf="form.get('email').touched && form.get('email').invalid && form.get('email').errors.email">Enter a valid email!</p>
  <p *ngIf="form.get('password').touched && form.get('password').invalid && form.get('password').errors.required">Password is not be empty!</p>
  <p *ngIf="form.get('password').touched && form.get('password').invalid && form.get('password').errors.minlength">
    The length must be at least {{ form.get('password').errors.minlength.requiredLength }}. Current Length
    - {{ form.get('password').errors.minlength.actualLength }}
  </p>
  <p *ngIf="isWrongFormData">Wrong login or password!</p>
</div>
<main class="sign-in position-center">
  <h2 class="sign-in__title mb-20">Please sign in</h2>
  <form class="form sign-in__form" [formGroup]="form" (ngSubmit)="check()">
    <input type="email" placeholder="Email address" class="input mb-10" formControlName="email">
    <input type="password" placeholder="Password" class="input mb-20" formControlName="password">
    <button class="button-lg" [class.button_blue]="form.valid" [class.button_gray]="form.invalid"
            [disabled]="form.invalid"> Sign in
    </button>
  </form>
</main>
