@import "./assets/SCSS/reset";

.container {
  padding: 0 15px;
}

@media (min-width: 575.98px) {
  .container {
    padding: 0 calc(50% - 270px);
  }
}

@media (min-width: 767.98px) {
  .container {
    padding: 0 calc(50% - 360px);
  }
}

@media (min-width: 991.98px) {
  .container {
    padding: 0 calc(50% - 480px);
  }
}

@media (min-width: 1199.98px) {
  .container {
    padding: 0 calc(50% - 590px);
  }
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap");

//@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 93.9%;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #e6ecf0;
}

.button_danger {
  color: #fff;
  background-color: #c82333;
}

.button_blue {
  color: #fff;
  background-color: #007bff;
}

.button-lg {
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
  border: none;
}

.button-sm {
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  border: none;
}

.button_green {
  color: #fff;
  background-color: #28a745;
}

.close-icon {
  position: relative;
  width: 20px;
  height: 20px;
  opacity: 1;
  display: contents;
}

.close-icon:before {
  transform: rotate(45deg);
}

.close-icon:after {
  transform: rotate(-45deg);
}

.close-icon:before, .close-icon:after {
  position: absolute;
  content: ' ';
  height: 20px;
  width: 3px;
  background-color: #c82333;
}

.button-close {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #c82333;
  background-color: #fff;
  border-radius: 50%;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mr-5 {
  margin-right: 5px;
}


.textarea {
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

a {
  text-decoration: none;
}

.posts {
  max-width: 600px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.post {
  background-color: #fff;
  padding: 12px 20px;
  margin: 10px 0;
  position: relative;

  &__title {
    font-size: 20px;
    font-weight: 500;
  }

  &__description {
    font-size: 16px;
    line-height: 24px;
    margin-top: 10px;

  }
}

.post__control-buttons {
  position: absolute;
  right: 20px;
  top: 10px;
  cursor: pointer;
}

.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.input {
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.input:focus {
  color: #495057;
  background-color: #fff;
  outline: 0;
  box-shadow: 0 0 0 1px rgba(0, 123, 255, .25);
  z-index: 2;
}

.error-messages {
  //z-index: -1;
  position: absolute;
  top: 60px;
  right: 10px;
  width: 100%;
  margin-left: 10px;
  max-width: 300px;
  padding: 10px 20px;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #f5c6cb;
  background-color: #f8d7da;
  color: #721c24;
  //opacity: 0;
  transition: opacity 0.4s linear;
}
.input-wrap {
  display: flex;
}
@media (max-width: 575.98px) {

  .input-wrap {
    flex-direction: column;
  }
}
